body{
    background-color: cornsilk;
}
hr{
    border-style: dotted;
  }
  p{
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
  }
  pre{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
  }
  p.copyright {
    text-align: center;
  }
  form {
    display: table;

  }
  label {
    display: table-cell;
    padding: 5px;
  }
  input {
    display: table-cell;
    padding: 5px;
  }

  .information * {
    vertical-align: middle;
  }

  .range * {
    vertical-align: middle;
  }
  div{
    display: table;
}
.three {
    display: table-row;
}

.one {
    display: table-cell;
    margin-right: 10px;
    padding: 5px;
}

.two {
    display: table-cell;
    padding: 5px;
}